div{
  font-size: 18px;
  font-family: Times;
  font-weight: normal;
  color: black;
  width: 300px;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: #0A0300;
  padding-left: 20px;
  margin: 15px;
  box-sizing: border-box;
}
