body, div, button, img, section, h1, p, h2 {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  width: 100%;
  height: calc(103px + 60vw);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%);
}

body {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  text-align: center;
  max-width: 100vw;
  height: 100vh;
  overflow: scroll;
}

h2 {
  font-size: 30px;
  font-family: 'Aref Ruqaa', serif;
  font-style: italic;
  color: rgb(1, 137, 155);
  background: none;
  padding-top: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-shadow: 2px 0px 2px rgba(38, 98, 93, 0.5);
}

.nav {
  position: relative;
  left: 15vw;
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 70vw;
  height: calc(70vw * 0.50);
  box-shadow: 8px 8px 5px -5px rgba(138,136,138,1);
  overflow: hidden;
}

button {
  max-height: inherit;
  width: 3vw;
  outline: none;
  box-shadow: inset 36px 8px 300px -89px rgba(133,180,204,1);
}

button:active {
  border-color: darkgrey;
  background-color: rgba(155, 155, 155, 0.5);
  outline: none;
}

button:hover {
  border-color: darkgrey;
  background-color: rgb(244, 251, 255, 0.2);
  opacity: 0.8;
  border-width: 5px;
}

button.next {
  transform: rotateY(180deg);
}

button .next, button .previous {
  width: 2vw;
}

.bigPhoto {
  width: 75vw;
  height: inherit;
  position: relative;
  left: 0px;
  overflow: hidden;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: inherit;
  height: inherit;
  vertical-align: middle;
  opacity: 0;
}

.slide > * {
  z-index: 0;
}

div.slide.make_z_index {
  z-index: 5;
  opacity: 1;
  transition: all 0.7s;
}

.slide > img {
  max-width: 75vw;
  height: calc(80vw * ( 3 / 4));
  position: absolute;
  top: -10vw;
  left: -10vw;
}

section {
  width: inherit;
  height: 20%;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 80%;
  text-align: left;
  font-family: 'Arial';
}

h1, p {
  padding-top: 1vw;
  padding-left: 1vw;
  box-sizing: border-box;
}

h1 {
  font-size: 2vw;
  color: rgba(255, 255, 255, 1);
}

p {
  font-size: 2vh;
}

.pics {
  background: none;
  height: 50px;
  max-width: 80vw;
  position: relative;
  left: calc(50vw - 40vw);
  top: 0px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  overflow: hidden;
}

.pics:hover {
  height: 60px;
  vertical-align: top;
  transition: all 1s ease;
  margin-top: -10px;
}

.thumb {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 2px;
  opacity: 0.4;
}

.thumb:hover{
  opacity: 1;
  margin-top: 5px;
  padding: 0px;
  position: relative;;
  left: -0px;
  buttom: -10px;
  width: 50px;
  height: 50px;
  transition: all 1s ease;
  box-shadow: 1px 2px 2px 0px rgba(159,182,196,1);
}

.active_thumb{
  opacity: 1;
  transition: all 1s ease;
  box-shadow: 1px 2px 2px 0px rgba(181,125,125,1);
}

img.thumb.next{
  transform: rotateY(180deg);
}

.thumb.next, .thumb.previous{
  width: 15px;
}

.thumb.next:hover, .thumb.previous:hover{
  box-shadow: none;
  background-color: 'white';
  opacity: 0.7;
}
