/**********Mathe Boglarka************/
/**********26.10.2016*****************/
/*******Reproduce a wikipedia page***/


/*****Common properties****/

body{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  /*background-color: linear-gradient(to bottom white, rgb(220, 220, 220));*/
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%);
  width: 100%;
  height: 100%;
}

body *{
  background: none;
}

li{
  list-style: none;
}

a{
  color: #0645ad;;
}

p{
  text-align: left;
  font-size: 14px;
  line-height: 1.5em;
  padding-right: 15px;
  margin-right: 15px;
  padding-top: 5px;
  margin-top: 5px;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color: purple;
}

/****SIDEBAR properties**/

aside img{
  height: 160px;
  width: 135px;
  background-color: none;
  padding: 0px;
}

aside{
  display: flex;
  flex-flow: column;
  font-size: 12px;
  background: none;
}

aside > *{
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
  line-height: 1.5;
}

aside h2{
  color: grey;
  font-size: 12px;
  border-top: 1px solid black;
  /*border-top: 1px solid radial-gradient(ellipse at center, rgba(128,128,128,1) 0%, rgba(255,255,255,1) 100%);*/
  padding-top: 10px;
}

aside section > ul{
  padding-left: 15px;
}

.aside_main{
  padding-left: 25px;
}


/******* EVERYTHING TO RIGHT ***/

.everything{
  display: flex;
  flex-flow: row;
  justify-content:flex-start;
  width: 100%;
}

.every-right{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

/*******TOP NAVIGATION******/

header{
  display: flex;
  padding-right: 5px;
  margin: 0px;
  flex-flow: row;
  font-size: 12px;
  justify-content: space-between;
  padding-bottom: 0px;
}

header > nav{
  display: flex;
  flex-flow: row;
  padding-bottom: 0px;
}

header > ul > .article{
  background: none;
}

.firstnav{
  justify-content: flex-start;
  align-items: flex-end;
  vertical-align: bottom;
  padding-left: 0px;
}

.secondnav >ul{
  align-items: flex-end;
  text-align: right;
  vertical-align: bottom;
}

header section{
  display: flex;
  margin: 0px;
  padding-bottom: 0px;
  flex-flow: row;
}

header form{
  display: inline-block;
  vertical-align: middle;
}

header ul{
  display: flex;
  flex-flow: row;
  padding-left: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
  justify-content: space-between;
}

header li{
  display: inline-block;
  margin: 0px;
  padding-bottom: 0px;
  vertical-align: bottom;
  padding-left: 5px;
  padding-right: 5px;
}

header a{
  display: block;
}

.secondnav{
  display: inline-block;;
  flex-flow: column;
  justify-content: flex-end;
}

.login{
  justify-content: flex-end;
}

.tab > li{
  border-left: 1px solid skyblue;
  border-right: 1px solid skyblue;
  border-bottom: 1px solid skyblue;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(227,254,255,0.4) 100%);
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
}

.tab a{
  padding-top: 8px;
  height: 30px;
}

.tab > li{
  margin: 0px;
}

.tab > li:hover{
  background: rgba(255,255,255,1);
  border-bottom: 2px solid white;
  outline: 2px solid white;
}

.tab div {
  display: inline-block;
  height: 30px;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
  text-align: center;
}

/*.tab li:hover{
  position: relative;
  top: -2px;
  border-bottom: 10px solid white;
  margin-top: 3px;
  background: none;
}*/

/*.tab:hover, .tab > li:hover{
  background-color: rgba(255, 0, 0, 0.5);
  display: block;
}

.tab:active, .tab > li:active{
  background:none
}*/

.searchfield{
  box-shadow: 1px 1px 3px 0px rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  border: 1px solid grey;
  height: 26px;
  vertical-align: middle;
  padding-top: 8px;
  margin-top: 12px;
  margin-left: 5px;
  width: 20vw;
}

.search_icon{
  width: 20px;
  height: 20px;
  position: relative;
  top: 0px;
  right: 0px;
}

form > a{
  width: 22px;
  height: 22px;
  position: absolute;
  top: 40px;
  right: 14px;
  border: none;
}

form > a:hover{
  background-color: skyblue;
  opacity: 0.5;
}

/*.searchfield:before{
  content=url("img/icon.svg");
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  right: 5px;
}*/

/*********CONTENT*******/
main{
  background-color: white;
  border-left: 1px solid skyblue;
  border-top: 1px solid skyblue;
  padding: 20px;
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 12px;


}

main > h1{
  display: flex;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid grey;
  font-family: "Georgia";
  font-weight: normal;
  margin-right: 15px;
  padding-right: 15px;
  overflow: hidden;
}

main > h1:first-child{
  font-size: 30px;
}

.index{
  vertical-align: super;
  font-style: normal;
  font-size: 8px;
}

.deeper{
  padding-left: 30px;
}


/********PHOTOS**********/
.photo{
  float: right;
  padding: 10px;
  background-color: rgb(246, 246, 246);
  padding-top: 10px;
  border: 1px solid grey;
  border-radius: 1px;
  text-align: center;
  margin-left: 15px;
}

.photo > table{
  text-align: left;
}

.photo-title, .photo-subtitle{
  text-align: center;
  margin: 0px;
  padding: 5px;
}

.photo-titel{
  font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
  text-decoration: none;
}

.photo-subtitle{
  font-weight: normal;
  font-size: 14px;
  padding-top: 0px;
  margin: 0px;
}

.profile-pic{
  height: 270px;
  width: 220;
  text-align: center;
}

/*******TABLE under PROFILE****/
table{
  font-size: 12px;
  line-height: 1.5em;
  margin-left: 0px;
}

.label{
 font-weight: bold;
 vertical-align: top;
}

td:last-child{
  width: 170px;
}


/******Contents list**********/

.article-contents h1 {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 10px;
}

.article-contents{
  padding: 10px;
  background-color: rgb(246, 246, 246);
  border: 1px solid grey;
  text-align: left;
  display: inline-block;
  line-height: 1.5em;
}

.article-contents ol{
  list-style: decimal;
  padding: 0px;
}

ol:before{
  content: "  ";
}

.article-contents li{
  padding-left: 5px;
}


/*********NASA section PHOTOS*******/

.nasa_photo_block{
  float: right;
  width: 220px;
  padding: 5px;
  text-align: right;
  background-color: rgb(246, 246, 246);
  border: 1px solid grey;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-left: 15px;
  display: block;
}

.nasa_photo{
  width: 220px;
}

.nasa_photo_block p{
  text-align: left;
  font-size: 12px;
}

/********NASA section DIFFERENT******/

.apollo{
  border: none;
}

.awards > li{
  font-size: 14px;
  list-style: disc;
  line-height: 1.5em;
}


/*********FOOOTER******************/

footer *{
  font-size: 10px;
}

.footer_list{
  display: flex;
  flex-flow: row;
  text-align: left;
  padding-right: 30px;
  padding-left: 0px;
}

footer li{
  padding-right: 10px;
}
