* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 600px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

audio {
  position: relative;
  top: -40px;
  width: 600px;
  height: 40px;
}

.whole_window {
  width: 600px;
  height: 400px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #f2f6f7;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 3px 5px 5px 0px rgba(199,201,201,1);
}

.left {
  width: 50%;
  border-right: 3px solid lightgrey;
}

.right {
  width: 50%;
}

.artwork > * {
  float: right;
  width: 127px;
  height: 127px;
  background-color: grey;
}

.logo, .playlists > h2, .currently_playing > *, .tracks > * {
  padding: 5px 15px 5px 15px;
}

.currently_playing {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.icons {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}

.add_icon {
  opacity: 0.6;
  height: 30px;
  width: 30px;
}

.star_icon, .add_icon {
  margin-right: 5px;
  margin-top: 3px;
  float: right;
}

.star_icon {
  height: 20px;
  width: 20px;
}

.star_icon:hover, .add_icon:hover{
  background-color: #1bf7d9;
  border-radius: 50%;
  color: black;
  opacity: 0.5;
}

h2 {
  font-size: 18px;
  font-weight: bolder;
  color: #5f6263;
}

.musician {
  color: #adb1b2;
  font-size: 14px;
  padding-top: 0px;
}

.playlist_item, .track {
  color: #5f6263;
  font-size: 14px;
  font-weight: bold;
}

#track:hover {
  background-color: #d0c1dd;
  outline: 1px solid #695877;
  cursor: pointer;
}

#track:active {
  background-color: lightgrey;
}

.playlist_item {
  padding: 5px 15px 5px 15px;
  align-items: center;
}

.playlist_item:hover {
  outline: 1px solid #695877;
}

.active {
  background-color: #d0c1dd;
  outline: 1px solid #695877;
}

.addToPlaylist, .addNewPlaylist {
  width: 200px;
  position: fixed;
  top: 100px;
  visibility: hidden;
  display: flex;
  flex-flow: column;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.button {
  background-color: #75efe9;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.button:hover {
  opacity: 0.5;
  color: brown;
}

.button:active {
  opacity: 0.5;
  background-color: grey;
  font-weight: bolder;
}

.quit1, .quit2 {
  position: absolute;
  left: 205px;
  top: -5px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #ccfffc;
}

.quit1:hover, .quit2:hover {
  background-color: #73518e;
}

.quit1:active, .quit2:active {
  background-color: #73518e;
  opacity: 0.7;
}

input[type='text']{
  height: 20px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.del {
  height: 20px;
  float: right;
}

.del:hover {
  background-color: #73518e;
  opacity: 0.7;
  border-radius: 3px;
}

.del:active {
  background-color: lightgrey;
  border-radius: 3px;
}
